.price__gap {
    width: 100%;
    margin-top: 120px;
}

.price__gap--icon {
    width: 28px;
    height: 28px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    background-color: hsla(0, 0%, 64%, 0);
    background-image: url(/images/icon_multiply.svg);
    background-position: 0px 0px;
    background-size: cover;
}

@media screen and (max-width: 991px) {
    .price__gap--icon {
        width: 20px;
        height: 20px;
    }
}