.bar__link {
    margin-left: 60px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.bar__link:hover {
    text-decoration: none;
    color: #999DA5
}

@media screen and (max-width: 991px) {
    .bar__link {
        display: none;
    }
}