@import "./-result/main__result-calc-result.css";
@import "./-text/main__result-calc-text.css";

.main__result-calc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 18px;
    min-width: 269px;
    background-color: #1B4B84;
}