.partners__group {
    position: relative;
    display: -ms-grid;
    display: grid;
    margin-top: 100px;
    grid-auto-columns: 1fr;
    grid-column-gap: 15.3%;
    grid-row-gap: 30px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
