.price__card {
    margin-top: 120px;
    padding: 103px 45px 80px;
    border-radius: 25px;
    background-color: #0d2750;
    height: auto;
    min-height: 350px;
    padding-top: 0px;
    padding-right: 33px;
    padding-left: 33px;
}