.main__contacts-form-title {
    font-family: "Exo 2", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 110%;
    margin: 38px 0 38px 38px;
}