.formats__cta {
    position: relative;
    left: 0%;
    top: 0px;
    right: auto;
    bottom: 0%;
    display: block;
    margin-top: auto;
    float: none;
    clear: none;
}

@media screen and (max-width: 991px) {
    .formats__cta {
        font-size: 19px
    }
}