.analyzes__comment {
    margin-top: 10px;
    color: #4666ad;
    font-size: 21px;
    line-height: 160%;
    font-weight: 400;
}

@media screen and (max-width: 478px) {
    .analyzes__comment {
        font-size: 16px;
    }
}