.main__contacts-form-input {
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background: #869EC2;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: white;
    min-height: 48px;
    padding: 0 6px;
}

.main__contacts-form-input::placeholder {
    color: white;
    opacity: 0.5;
}

.main__contacts-form-input:focus {
    outline: #809CC7;
}