.mainpage__p80 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
}

@media screen and (min-width: 479px) and (max-width: 991px) {
    .mainpage__p80 {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 478px) {
    .mainpage__p80 {
        padding-right: 30px;
        padding-left: 30px;
    }
}